
  <div class="col-md-3">
    <div class="card" style="width: 18rem;" >
      <%=image_tag url_for(products.product_image), class:"card-img-top", height: ''%>
    <div class="card-body">
      <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
       <% if name_is_link %>
       <h5 class="card-title"><%= link_to products.name, products %></h5>
          <% else %>
          <h5 class="card-title"><%= products.name %></h5>
          <% end %>
         <p><%= products.price %> </p>
         <p><%= products.status.name %> </p>
        <%= link_to products.name, products, class: "btn btn-primary text-white"%>

    </div>
</div>
  </div>


